pkgbase = mingw-w64-qt5-declarative-static
	pkgdesc = Classes for QML and JavaScript languages (mingw-w64)
	pkgver = 5.15.14+kde+r28
	pkgrel = 1
	url = https://www.qt.io/
	arch = any
	groups = mingw-w64-qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-vulkan-headers
	makedepends = mingw-w64-pkg-config
	makedepends = python
	makedepends = git
	depends = mingw-w64-qt5-base-static
	depends = mingw-w64-qt5-declarative
	options = !strip
	options = !buildflags
	options = staticlibs
	source = git+https://invent.kde.org/qt/qt/qtdeclarative#commit=50c8def854806485d66aabcf6918e8b987032e55
	source = 0001-Ensure-static-plugins-are-exported.patch
	source = 0002-Prevent-exporting-QML-parser-symbols-on-static-build.patch
	source = 0003-Disable-d3d12-requiring-fxc.exe.patch
	sha256sums = 8d2459c5c63da631636503db4ee9bb30e55412d5f6fa6307b9460ac0fe0b72cb
	sha256sums = 5c4e4ce7ba93626feb3159282938065c752edd401819dccbe282bdfe4e8a7be0
	sha256sums = 6b3150f1c11b151275dc9b8e7b2b1187d47217653c2518b7be094e6726597586
	sha256sums = b828ce10d2249d3fa1f6086ee2dbeda0d78081468f8facf28355bdf693220633

pkgname = mingw-w64-qt5-declarative-static
